  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
  margin: 0;padding: 0;box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.cont{
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
}
.cont,.main,.details,.links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main{
  width: 60dvw;
  height: 80vh;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 12%);

}
.dp,.details,.tagline,.links{
  margin: 10px;
}
.dp>img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.loc{
  color: hsl(75, 94%, 57%);
}
.tagline{
  width: 70%;
  text-align: center;
}
.links{
  width: 100%;
}
.social-links{
  text-align: center;
  padding: 10px;
  background: hsl(0, 0%, 20%);
  margin: 10px;
  width: 70%;
  border-radius: 10px;
  transition: 0.3s ease-in;
}
.social-links>a:hover{
  background-color: hsl(75, 94%, 57%);
}
a{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  width: 100%;
}
@media (min-width:900px){
  .main{
    width: 20vw;
    /* height: 80vh; */
  }
  .social-links>a:hover{
    background-color: hsl(75, 94%, 57%);
  }
}
.attribution {
  margin: 20px;
    font-size: 11px;
    text-align: center;
    color: aliceblue;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }