@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container,
.main,
.success {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: hsl(234, 29%, 20%);
  flex-direction: column;
}
.main {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  padding: 20px;
  height: 60%;
  border-radius: 25px;
}
h1 {
  font-weight: 700;
  text-align: start;
  font-size: 45px;
  margin: 10px;
  color: hsl(234, 29%, 20%);
}
p {
  font-size: 16px;
  color: hsl(235, 18%, 26%);
}
.section1 > p {
  margin: 30px 10px;
}

.section2 {
  align-items: center;
  height: 100%;
  margin: 5px;
}
.section1 {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.up-flex {
  margin: 10px 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.up-flex > img {
  margin-right: 10px;
}
.section2 {
  height: 100%;
  width: 70%;
}
input,
button {
  width: 80%;
  margin: 10px 5px;
  padding: 10px 10px;
  border-radius: 5px;
}
input {
  border-color: hsl(0, 0%, 100%);
}
button {
  background-color: hsl(4, 100%, 67%);
  color: aliceblue;
  cursor: pointer;
  border: none;
}
button:hover {
  box-shadow: 0 5px 2px -2px hsla(4, 100%, 67%, 0.289);
}
.img {
  height: 100%;
  width: 100%;
}
.success {
  background-color: hsl(0, 0%, 100%);
  width: 23%;
  height: 60%;
  border-radius: 25px;
  margin: 20px;
  flex-direction: column;
  padding: 30px;
  display: none;
  transition: 0.4s ease;
}
.success > p {
  margin: 20px;
  text-align: start;
}
.success > h1 {
  text-align: center;
}
.success > img {
  text-align: center;
}
.dismiss {
  background-color: hsl(234, 29%, 20%);
}
#mail {
  font-weight: bold;
}
.success-popup {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.main-popup {
  display: none;
}
@media (min-width: 200px) and (max-width: 920px) {
  .section1 {
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin-top: 20px;
    align-items: center;
  }
  .main {
    flex-direction: column-reverse;
    width: 100%;
    /* margin: 30px; */
    height: 100%;
  }
  
  .section2 {
    height: 30%;
  }
  .section2 > img {
    height: 100%;
    width: 100%;
  }
  .main > img {
    height: 50%;
  }
  .success {
    height: auto;
    width: 100%;
  }
}

/* @media (min-width:720) and (max-width:1280px){
  .main{
    width: 100%;
  }
.section2>img{
  width: 100%;
  height: 100%;
}
} */
.attribution {
  margin: 10px;
  font-size: 11px;
  text-align: center;
  color: aliceblue;
}
.attribution a {
  color: hsl(249, 34%, 70%);
}
